<ion-view view-title=" My Successful life ">

     <ion-content class="has-header padding">
<header class="w3-container  w3-padding" style="color:#fff !important;background-color:#252A2D !important" id="myHeader">
    <div class="w3-center">
	<div class="animated wow fadeInDown">
    <h3 style="color:#FFF;">Hai I'm Prahatheeswari</h3>
        <h5 style="color:#FFF;">Co-Founder Of Phoenix</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/Prahathi.jpg" alt="Prahathi" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2" style="width:100%"><br><b>
 <p> Hi I am Prahatheeswari A, I'm a Co-Founder of Phoenix Company and I am a creative lead of my company. I live in Madurai,India. I am a member of metoomentor.org and also  a Core Member of GDG Madurai.And now working with Project Madurai. I would like to be a brave woman.</p>
 <p> I am interesting to work with my team and I would like to create mobile apps.I will become an Great Entrepreneur.</p>
 </b> </div>
</div>
       <!--<div class="row interest">
					<div class="col-md-6">
					<h3 class="sub-heading"><span class="fa fa-briefcase"></span> What I am doing</h3>
					<div class="medium-box br-grey testimonial">				
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<!-- Controls -->
								<!--<a class="left c-control" href="#carousel-example-generic" data-slide="prev">
									<i class="fa fa-chevron-left"></i>
								</a>
								<a class="right c-control" href="#carousel-example-generic" data-slide="next">
									<i class="fa fa-chevron-right"></i>
								</a>
								<!-- Wrapper for slides -->
								<!--<div class="carousel-inner">
									<!-- First testimonial div -->
									<!--<div class="item active">
										<img src="img/transparent.png" alt="" / >
										<div class="carousel-caption">
											<div class="member">
												<div >
													<!-- Image for user -->
													<!--<img src="img/p.png" class="img-responsive img-circle img-thumbnail" alt="" />
												</div>
												<!-- User name and company name -->
												<!--<div class="animated wow fadeInDown">
												<h6><font color=red><b>I am a Open Source Developer</b></font></h6>
												</div>
												<font size=3 color= green><b><span>I love any Activity to create</span></b></font>
												<!-- User's comment -->
												<!--<blockquote class="br-red">
													<font size=2 color=black><b><span>As open source developer I love to use open source software for my
													day to day activity. I have contributed most amount of my energy for open source project.It is useful to improve my personality in developer field and I will be. I am eager to learn about that.</span></b></font>
												</blockquote>
											</div>
										</div>
									</div>
									<!-- Second testimonial div -->
									<!--<div class="item">
										<img src="img/transparent.png"alt="" />
										<div class="carousel-caption">
											<div class="member">
												<div >
													<img src="img/p.png" class="img-responsive img-circle img-thumbnail" alt="" />
												</div>
												<h6><font color=red><b>I do power point presentation and material designing for my ideas</b></font></h6>
												<font size=3 color= green><b><span>I love to create an apps using Brainstorming</span></b></font>
												<!-- User's comment -->
												<!--<blockquote class="br-green">
													<font size=2 color=black><b><span>When ideas strike me I started doing my own power point presentation and material designing  projects for my ideas.When I do brainstorming I can get lots of ideas. It leads to find the solutions.</span></b></font>
													</blockquote>
											</div>
										</div>
									</div>
									<!-- Third testimonial div -->
									<!--<div class="item">
										<img src="img/transparent.png" alt="" />
										<div class="carousel-caption">
											<div class="member">
												<div >
													<img src="img/p.png" class="img-responsive img-circle img-thumbnail" alt="" />
												</div>
												<h6><font color=red><b>I love to mentor people.Member in Metoomentor</b></font></h6>
												<font size=2.5 color= green><b><span>Share your knowledge to care about people</span></b></font>
												<!-- User's comment -->
												<!--<blockquote class="br-purple">
													<font size=0.0 color=black><b><span>I believe the value of your knowledge will go up when you start sharing with others. Yes I also do that.Me2mentor platform started with the objective of giving technological opportunity to everyone, mainly focusing on young students in tier 2 and tier 3 cities in India. <!--The idea is anyone who having passionate about technology and want to pursue their career in research field can use this platform. 
													We connect the student with mentors who inspire them, believe in their ideas and guide them.--></span></b></font>
													<!--<p>Me2mentor platform started with the objective of giving technological opportunity to everyone, mainly focusing on young students in tier 2 and tier 3 cities in India. The idea is anyone who having passionate about technology and want to pursue their career in research field can use this platform. 
													We connect the student with mentors who inspire them, believe in their ideas and guide them.</p>-->
												<!--</blockquote>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
 </b> </div>
</div>-->
               <h3 class="sub-heading" align="center">Living In</h3>	
                    <b><p class="text-muted"> Madurai is my home town which is situated in south part of Tamilnadu in India.</p>
                    <div class="w3-container  w3-white w3-card-2">
						<div class="medium-box br-grey">
			            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/?ie=UTF8&amp;ll=12.953997,77.63094&amp;spn=0.815042,1.352692&amp;t=m&amp;z=10&amp;output=embed"></iframe>
	                    </div><br>
						</div>					
					</div>	
			<h3 class="sub-heading" align="center">Languages</h3>	
                <b><p class="text-muted">I know three language read,write and speak</p>
                 <div class="w3-container  w3-white w3-card-2">
						<div id="language-skills">
						  <div class="skill">Tamil <div class="icons pull-right"><div style="width: 95%;" class="icons-red"></div></div></div>
						  <div class="skill">English <div class="icons pull-right"><div style="width: 85%;" class="icons-red"></div></div></div>
						  <div class="skill">Hindi <div class="icons pull-right"><div style="width: 80%;" class="icons-red"></div></div></div>
						</div>
						</div>					
					</div>	
					<h3 class="sub-heading" align="center">Hobbies</h3>
					<b><p class="text-muted">I feel free and relax when do these things</p>
					<div class="w3-container  w3-white w3-card-2" >
					    <div class="skill">Programming</div><br>
                        <div class="skill">Learning information in Net</div><br>
						<div class="skill">Fitness</div><br>						
						<div class="skill">Mentoring</div><br>
						<div class="skill">Drawing & Craftworking</div><br>
						<div class="skill">Photograpy</div><br>
					  </div>
					  <br><br>
	  
		<center><h3 class="section-heading">Services</h3>
                	<p class="text-muted">I am a Open Source Developer</p></center>
					<div class="w3-container  w3-white w3-card-2" >
                    <b><p>   As open source developer I love to use open source software for my
				      day to day activity. I have contributed most amount of my energy for open source project.It is useful to improve my personality in developer field and I will be. I am eager to learn About Me that. </p></b>
            </div>
			</div>
			<br>
			<div class="w3-container  w3-white w3-card-2" >
                    <div class="col-md-4"align="center">
			        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
					</div><center><h3 class="service-heading">Metoomentor Member</h3>
                    <p class="text-muted">I believe the value of your knowledge will go up when you start sharing with others. Yes I also do that. </p>
					
                                </div>
			</div>
			<br>
			<div class="w3-container  w3-white w3-card-2" >
                    <div class="col-md-4"align="center">
			        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
					</div><center><h3 class="service-heading">Android app Developer</h3>
                    <p class="text-muted">I develop Android application using ionic, MIT app inventor.Yes I also do that. </p>
					
                                </div>
			</div>
			<br>
			<div class="w3-container  w3-white w3-card-2" >
                    <div class="col-md-4"align="center">
			        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
					</div><center><h3 class="service-heading">Photoshop Designer</h3>
                    <p class="text-muted">I love to design Photoshop and coraldraw as well as i am also interested my web pages Yes I also do that. </p>
					
                                </div>
			</div>
          
        </div>
    </section>
    </ion-content>
</ion-view>
  