<ion-view view-title="Contact">
    <ion-content class="im-wrapper">
    <header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#252A2D !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">You can reach me via</h3>
    </div>
    </header>


 <div class="list ">

        <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/Website.jpg">
                    <h2><b>Mysite</b></h2>
                  <div class="item-text-wrap">  <p><b>tinyurl.com/greatPrahathi</b></p></div>
                </a>
            <a  ui-sref="#" class="item item-avatar item-icon-right ">
                    
                    <img src="img/gmail.jpg">
                    <h2><b>Email</b></h2>
                 <div class="item-text-wrap">  <p><b>pretyPrahathi@gmail.com</b></p></div>
             </a>  
			 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/Wordpress.jpg">
                    <h2><b>Wordpress</b></h2>
                 <div class="item-text-wrap">    <p><b>www.pretyPrahathi.wordpress.com</b></p></div>
                </a>
               <a  ui-sref="#"  class="item item-avatar item-icon-right ">
                    <img src="img/Linkedin.jpg">
                    <h2><b>Linkedin</b></h2>
                    <div class="item-text-wrap"><p><b>https://in.linkedin.com/pub/prahatheeswari-a/bb/1b5/a29</b></p></div>
                </a>
                <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/Google Plus.jpg">
                    <h2><b>Google Plus</b></h2>
                    <div class="item-text-wrap"><p><b> https://plus.google.com/u/0/pretyPrahathi 1988/posts</b></p></div>
                </a>
                 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/twitter.jpg">
                    <h2><b>Twitter</b></h2>
                 <div class="item-text-wrap">    <p><b>https://twitter.com/pretyPrahathi</b></p></div>
                </a>
				 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/facebook.jpg">
                    <h2><b>Facebook</b></h2>
                 <div class="item-text-wrap">    <p><b>https://www.facebook.com/Prety-Prahathi</b></p></div>
                </a>
				<a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/Github.jpg">
                    <h2><b>Github</b></h2>
                 <div class="item-text-wrap">    <p><b>https://githup.com/Prahatheeswari</b></p></div>
                </a>
						
            </div>
<br><br>
    </ion-content>
</ion-view>
