<ion-view view-title="Honours and Achievements">
    <ion-content class="im-wrapper">
	<header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#252A2D !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Achievements</h3>
    </div>
    </header>

                <div class="im-wrapper ">
		            <font size=3 color=24aa17><b><p> This page is not enough to say what i done in my 19 year carrier of live.But i try to mention some of my achivements</p></b></font>
        		   <h3><font color = red align=center><center>Extra Curricular Activities</center></font></h3>
				   </div>
				   <div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
             <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/tc.jpg">
                  <div class="item-text-wrap">  <h2><b>Technovation Challenge</b></h2>
                    <b><p>May 2014</p></b></div>
                </a>
                <div>
                    <p><font color="brown" ><b>We are Participated in Technovation Challenge in a Asian Pacific region</b></font></p>
                </div>    
            </div>
            </div>
				<div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                    <img src="img/chnpitch.jpg">
                    <div class="item-text-wrap"><h2><b>Chennai Pitch Event</b></h2>
                    <b><p>October 2014</p></b></div>
                </a>
                <div >
                    <p><font color="brown" ><b>Our team was selected in top 10 to present our idea in Chennai pitch Event.</b></font></p>
                </div>    
            </div>
        </div>
     		<div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                    <img src="img/dbhp.jpg">
                    <div class="item-text-wrap"><h2><b>Dakshina bharat hindi examination</b></h2>
                    <b><p>From my 12th Standard</p></b></div>
                </a>
                <div >
                    <p><font color="brown" ><b>I am completed Hindi exams in Dakshina bharat hindi prachar sabha examination.</b></font></p>
                </div>    
            </div>
        </div>
		<div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                    <img src="img/mlogo.jpg">
                    <div class="item-text-wrap"><h2><b>Meetomentor</b></h2>
                    <b><p>From my B.Sc First year</p></b></div>
                </a>
                <div >
                    <p><font color="brown" ><b>I am member of Meetomentor.org.</b></font></p>
                </div>    
            </div>
        </div>
		<div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                    <img src="img/gdg1.jpg">
                    <div class="item-text-wrap"><h2><b>Google Developer Group Madurai</b></h2>
                    <b><p>From my B.Sc First year</p></b></div>
                </a>
                <div >
                    <p><font color="brown" ><b>I am member of GDG Madurai.</b></font></p>
                </div>    
            </div>
        </div>
         <div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
            <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/Karate.jpg">
                    <div class="item-text-wrap"><h2><b>Sports Girl</b></h2>
                    <b><p>From my age 4</p></b></div>
                </a>
                <div>
                 <p><font color="brown" align=left><b>I am  a sports person. I have more interested in karate.my style of karate is shohbukai goju-ryu.I have a many gold, silver, bronze medals and shields .  I am a black belt student.i am participated in national,international,state,dirstic,south indian open karate championship,national world funakoshi Shotokan karate championship,Hanshhi hayakawa international invitational karate champion,3rd all india kung-fu and karate pure gold medal oen championship,indo-srilanka international karate championship, and etc.</b></font></p>
                </div>    
            </div>
        </div>
         <div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
             <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/11.jpg">
                  <div class="item-text-wrap">  <h2><b>Yogi Ramsurathkumar tailoring institute</b></h2>
                    <b><p>September 2014</p></b></div>
                </a>
                <div>
                    <p><font color="brown" ><b>I completed my tailoring course.</b></font></p>
                </div>    
            </div>
            </div>
         <div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
              <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/10.jpg">
                 <div class="item-text-wrap">   <h2><b>Sports and other field</b></h2>
                    <b><p>In my school days</p></b></div>
                </a>
                <div>
                    <p><font color="brown" ><b>Dinamalar kalaipotti, Quality circle(QC) programe 1st prize in Madurai, 2nd prize in Chennai,magilchi muhham(camp),chitthirai summer campas a volunteering service,vocabulary test in English(VTE),school annual sports(prize),annual day karte demo, Thedal  competition(prize),co-curricular activity day,academy of sri pathanjali yoga kendra(prize),school level completion of sparatan spell bee ,chinmaya mission conduct the “value & skills”,TOP 58 creating GUINNESS WORLD RECORD  58 SPORTS&GAMES COMPETITION(price placed in karate), swami nammazhvar (india) foundation conduct the quize competition on srivaishnava text,
                           In school competitions price placed in shotput, longjump,4*100 meters Relay,100 meters & 200 meters and relay..</b></font></p>
                </div>    
            </div>
            </div>
         <div class="w3-container  w3-white w3-card-8 w3-margin-top" style="width:100%">
                  <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/Comp.jpg">
                 <div class="item-text-wrap">   <h2><b>Computer Knowledge</b></h2>
                    <b><p>In my School days</p></b></div>
                </a>
                <div>
                    <p><font color="brown" ><b>Computer  applications & I am certificated by COMPUGEN.</b></font></p>
                </div>   
            </div>
              
              </div>
            </div> <br><br>
			<div class="item-text-wrap"><h2><b>My Achievements</b></h2>
                    <b><p>A hai meri nishan</p></b></div>
<div class="w3-container w3-center w3-white w3-card-2 " style="width:100%"><br>
  <img src="img/award.jpg" alt="" style="width:100%" ></div> 
 <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br>
</div>
</div>
<div class="w3-container w3-center w3-white w3-card-2 " style="width:100%"><br>
  <img src="img/Karate.jpg" alt="" style="width:100%" ></div> 
 <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br>
</div>
</div>
<div class="w3-container w3-center w3-white w3-card-2 " style="width:100%"><br>
  <img src="img/Medal.jpg" alt="" style="width:100%" ></div> 
 <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br>
</div>
</div>
			<!--<div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                       <center> <img src="img/award.jpg" class="img-responsive" alt="" style="width:100%"></center><br>
                        <img src="img/Karate.jpg" class="img-responsive" alt="" style="width:100%"><br>
                        <img src="img/Medal.jpg" class="img-responsive" alt="" style="width:100%">
                    </a>
                    <div class="portfolio-caption">
                        <h4>My Achievements </h4>
                        <p class="text-muted">Nishan hai meri</p>
                    </div>
                </div>
				</div>-->
    </ion-content>
</ion-view>
