<ion-view view-title="Projects">
    <ion-content class="im-wrapper">
	    <header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#252A2D !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Project details</h3>
    </div>
    </header>
        <!--<div class="bar bar-subheader bar-stable static text-center">
           <font color="brown" ><b>Mobile & Web applications</b></font>
        </div>-->
        <br>
         <div class="w3-container w3-light-grey w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                      <img src="img/m1.jpg">
                     <div class="item-text-wrap"><h2><b>Traditional Indian Medicine</h2></b>
                     <p class="text-muted">It is an Medicine oriented Application</p></div>
                </a>
                <div >
                    <p class="text-muted">Traditional Indian Medicine is an android application which provides solution for better first aid, tips for  health fitness, prevention of diseases and provide symptoms  in visual  manner with easy of access to the emergency  content and also the Yoga.The main thing is to prevent our own culture because we can change our lifestyle but we never give up our culture.</p>
                </div>    
            </div>
        </div>
                 <div class="w3-container w3-light-grey  w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                      <img src="img/me1.jpg">
					  <div class="item-text-wrap"><h2><b>My Successful Life</h2></b>
                     <p class="text-muted">Hybrid Application</p></div>
                </a>
                <div>
                    <p class="text-muted">My Successful Life is an android application.It is about my self.I is an application about myself to show someone as a resume.</p>
                </div>    
            </div>
        </div>

            <div class="w3-container w3-center w3-light-grey w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                    <img src="img/w.jpg">
					 <div class="item-text-wrap"><h3><b>Prahatheeswari Profile</h3></b>
                     <p class="text-muted">Web application</p></div>
                </a>
                <div >
                    <p class="text-muted">Prahatheeswari Profile is a website about myself to show as a resume.It contains the details about my qualification.</p>
                </div>    
            </div>
        </div>


        <br><br>
          </ion-content>
</ion-view>
